# OSX annoying stuff
.DS_Store

# IDE and other configs
.idea
.envrc
.monokle
.terraform
.terraform.lock.hcl
.vscode
.vscode/settings.json

# Image & buffers
**/**.tar.gz
**/**.pem
**/target/**
license.json
env/
kiali-tmp/
istio-tmp/
install/
installer/
rendered/